header{
    background-color: antiquewhite;
    height: 10%;
    width: 100%;
    color:black;
}
h2{
    text-decoration: underline;
}
li.snake {
    color:rgb(251, 255, 0);}

p{
    vertical-align:center ;
}
#wrap {
    background-color: antiquewhite;
}
.menu li {
    background-color: antiquewhite;
    float: none;
}
.menu li:hover,
a:hover {
    background-color:antiquewhite;
}
.menu li ul li {
    background-color: antiquewhite;
}
li.démineur{
    color:crimson
}
li.morpion{
    color:turquoise
}
li.chifoumi{
    color:rgb(0, 255, 106)
}

li{
    font-size: 30px;
    margin-top:5%;
}

        
        
        