header{
    bottom: 0cm;
    background-color :rgb(251, 255, 0);
    font-family: sans-serif;
    height: 10%;
    width: 100%;
    color: rgb(4, 0, 255)
    }
    #score{
        font-size:250%;
    }


canvas{
    background-color: black;
}
#wrap {
    background-color: rgb(251, 255, 0);
    size: 50%;
}

.menu li {
    background-color: rgb(251, 255, 0);
}

.menu li:hover,
a:hover {
    background-color: rgb(251, 255, 0);
}

.menu li ul li.snake {
    background-color: rgb(251, 255, 0);
}

.menu a {
    color: rgb(4, 0, 255);

}



        
        
        